<h1>{{title}}</h1>
<br><br>
<form action="/upload" method="POST" enctype="multipart/form-data">
	<input type="file" name="file"><br>
	<button type="submit">Submit</button>
</form>
<img src="/uploads/{{name}}">